.home {
  min-height: calc(100vh - 60px);
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 50px;
  background: #020617;
  color: white;
}

.home-content {
  max-width: 600px;
}

.home-content h1 {
  font-size: 42px;
  margin-bottom: 10px;
}

.home-content h1 span {
  color: #c9e9f7;
}

.home-content h2 {
  font-size: 28px;
  margin-bottom: 15px;
  color: #94a3b8;
}

.home-content p {
  font-size: 16px;
  line-height: 1.6;
  color: #cbd5f5;
}

/* Image Section */
.home-image img {
  width: 280px;
  height: 280px;
  border-radius: 50%;
  object-fit: cover;
  border: 4px solid #b9c2c6;
}
.home-image {
  display: flex;
  flex-direction: column;

  align-items: center;
}

.resume-btn {
  margin-top: 15px;
  padding: 10px 22px;
  font-size: 16px;
  background-color: #4f46e5;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

.resume-btn:hover {
  background-color: #4338ca;
}

@media (max-width: 768px) {
  .home {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column-reverse;
    text-align: center;
    padding: 30px 20px;
  }

  .home-image img {
    width: 200px;
    height: 200px;
  }

  .home-content h1 {
    font-size: 42px;
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
      "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  }

  .home-content h2 {
    font-size: 22px;
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
      "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  }
  .text {
    font-size: 18px;
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
      "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
    font-weight: lighter;
  }
}
