* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.navbar {
  height: 60px;
  padding: 0 20px;
  background: #0f172a;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
}

.logo {
  font-size: 20px;
  font-weight: bold;
}

.nav-links {
  display: flex;
  list-style: none;
  gap: 20px;
  margin-right: 200px;
}

.nav-links li a {
  color: white;
  text-decoration: none;
  font-size: 20px;
}

.burger {
  display: none;
  flex-direction: column;
  cursor: pointer;
}

.burger span {
  height: 3px;
  width: 25px;
  background: white;
  margin: 4px 0;
}

@media (max-width: 768px) {
  .nav-links {
    position: absolute;
    top: 60px;
    right: 0;
    left: 0px;
    background: #0f172a;
    width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    display: none;
    padding: 20px 0;
  }
  .nav-links li NavLink {
    font-size: 16px;
  }

  .nav-links.active {
    display: flex;
  }

  .burger {
    display: flex;
  }
}
